@page
@model format.Pages.EmployeeList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create Employees</h2><br />

@{ if (ViewData["message"] != null) { 
        <h3>@ViewData["message"]</h3>
    }
}

<div class="border container" style="padding:30px;">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Employee.f_Createdate" value="@DateTime.Now" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.f_Name" class="form-control" />
            </div>
            <span asp-validation-for="Employee.f_Name"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Email"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.f_Email" class="form-control" />
            </div>
            <span asp-validation-for="Employee.f_Email"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Mobile"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.f_Mobile" class="form-control" />
            </div>
            <span asp-validation-for="Employee.f_Mobile"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Designation"></label>
            </div>
            <div class="col-6">
                <select asp-for="Employee.f_Designation" class="form-control">
                    <option value="HR">HR</option>
                    <option value="Manager">Manager</option>
                    <option value="Sales">Sales</option>
                </select>
            </div>
            <span asp-validation-for="Employee.f_Designation"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Gender"></label>
            </div>
            <div class="col-6">
                <div class="col-3 d-flex">
                    <input type="radio" asp-for="Employee.f_Gender" class="form-control" value="Male" style="font-size:4px;" />
                    <label>Male</label>
                </div>
                <div class="col-3 d-flex">
                    <input type="radio" asp-for="Employee.f_Gender" class="form-control" value="Female" style="font-size:4px;" />
                    <label>Female</label>
                </div>
            </div>
            <span asp-validation-for="Employee.f_Gender"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Course"></label>
            </div>
            <div class="col-6">
                <div class="col-3 d-flex">
                    <input type="checkbox" asp-for="Employee.f_Course" name="f_Course" class="form-control" value="MCA" style="font-size:4px;"  />
                    <label>MCA</label>
                </div>
                <div class="col-3 d-flex">
                    <input type="checkbox" asp-for="Employee.f_Course" name="f_Course" class="form-control" value="BCA" style="font-size:4px;"  />
                    <label>BCA</label>
                </div>
                <div class="col-3 d-flex">
                    <input type="checkbox" asp-for="Employee.f_Course" name="f_Course" class="form-control" value="BSC" style="font-size:4px;"  />
                    <label>BSC</label>
                </div>
            </div>
            <span asp-validation-for="Employee.f_Course"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.f_Image"></label>
            </div>
            <div class="col-6">
                <input type="file" name="files" multiple class="form-control" />
            </div>
            <span asp-validation-for="Employee.f_Image"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="empList" class="btn btn-info form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }
